<mat-stepper linear #stepper>
  <mat-step label="Endereço de entrega">
    <app-address></app-address>
    <div class="stepper-button">
      <button mat-raised-button color="primary" matStepperNext>Próximo</button>
    </div>
  </mat-step>
  <mat-step label="Forma de pagamento">
    <app-payment></app-payment>
    <div class="stepper-button">
      <button class="stepper-button-previous" mat-raised-button color="warn"
        matStepperPrevious>Voltar</button>
      <button mat-raised-button color="primary" matStepperNext>Próximo</button>
    </div>
  </mat-step>
  <mat-step label="Confirmação do pedido">
    <app-confirmation></app-confirmation>
    <div class="stepper-button">
      <button mat-raised-button color="primary" matStepperNext>Finalizar</button>
    </div>
  </mat-step>
</mat-stepper>
