<div class="address-container">
  <mat-card class="mat-card-container">
    <mat-card-title class="mat-card-title">Selecione o endereço de entrega</mat-card-title>
    <div *ngFor="let address of addresses">
      <mat-card class="mat-card-content">
        <div class="mat-card-group">
          <mat-card-title class="mat-card-group-title">{{address.alias}}</mat-card-title>
          <mat-card-subtitle class="mat-card-group-subtitle">{{address.address}},
            {{address.number}}, {{address.district}}, {{address.city}},
            {{address.zipcode}}</mat-card-subtitle>
        </div>
        <mat-radio-button value="{{ selectedAddress.id || address.id}}"
          (change)="setAddress(address)"></mat-radio-button>
      </mat-card>
    </div>
  </mat-card>
</div>