<mat-card class="mat-card-spacing">
  <mat-card-title class="mat-card-title">Informações do pedido</mat-card-title>
  <mat-card-content class="mat-card-content">

    <p class="mat-card-subtitle">Pedido</p>
    <div *ngFor="let item of selectedItems">
      <mat-card-subtitle>{{item.title}} -
        <span class="mat-card-list-item">{{item.price *
          item.quantity |
          currency: "BRL"}}</span></mat-card-subtitle>
    </div>

    <div *ngIf="selectedAddress?.address">
      <div class="mat-card-divider"></div>
      <p class="mat-card-subtitle">Endereço</p>
      <mat-card-subtitle *ngIf="selectedAddress?.address">{{selectedAddress?.alias}}
        - <span class="mat-card-list-item">{{selectedAddress?.address}},
          {{selectedAddress?.number}}, {{selectedAddress?.district}},
          {{selectedAddress?.city}},
          {{selectedAddress?.zipcode}}</span></mat-card-subtitle>
    </div>

    <div *ngIf="selectedPayment?.title">
      <div class="mat-card-divider"></div>
      <p class="mat-card-subtitle">Pagamento</p>
      <mat-card-subtitle>{{selectedPayment?.title}}</mat-card-subtitle>
    </div>

    <div class="mat-card-divider"></div>
    <p class="mat-card-subtitle">Resumo dos
      valores</p>
    <mat-card-subtitle>Subtotal - <span class="mat-card-list-item">{{cartSubTotalPrice
        | currency: "BRL"}}</span>
    </mat-card-subtitle>
    <mat-card-subtitle *ngIf="selectedAddress?.address">Frete - <span
        class="mat-card-list-item">{{cartDeliveryPrice |
        currency: "BRL"}}</span>
    </mat-card-subtitle>
    <mat-card-subtitle>Total - <span class="mat-card-list-item">{{cartTotalPrice
        |
        currency: "BRL"}}</span>
    </mat-card-subtitle>
  </mat-card-content>
</mat-card>
