<mat-card style="padding: 4px">
  <mat-card-title style="margin: 16px">Informações do pedido</mat-card-title>
  <mat-card-content style="width: 300px;">

    <p style="font-size: 0.9rem; font-weight: 600; margin-top: 8px;">Pedido</p>
    <div *ngFor="let item of selectedItems">
      <mat-card-subtitle>{{item.title}} -
        <span style="color: #a1a1a1">{{item.price *
          item.quantity |
          currency: "BRL"}}</span></mat-card-subtitle>
    </div>

    <div *ngIf="selectedAddress?.address">
      <div style="display:flex; flex: 1; border-top: 1px solid black;
        margin-top:
        16px; margin-bottom: 16px;"></div>
      <p style="font-size: 0.9rem; font-weight: 600; margin-top: 8px;">Endereço</p>
      <mat-card-subtitle *ngIf="selectedAddress?.address">{{selectedAddress?.alias}}
        - <span style="color: #a1a1a1">{{selectedAddress?.address}},
          {{selectedAddress?.number}}, {{selectedAddress?.district}},
          {{selectedAddress?.city}},
          {{selectedAddress?.zipcode}}</span></mat-card-subtitle>
    </div>

    <div *ngIf="selectedPayment.title">
      <div style="display:flex; flex: 1; border-top: 1px solid black;
        margin-top:
        16px; margin-bottom: 16px;"></div>
      <p style="font-size: 0.9rem; font-weight: 600; margin-top: 8px;">Pagamento</p>
      <mat-card-subtitle>{{selectedPayment.title}}</mat-card-subtitle>
    </div>

    <div style="display:flex; flex: 1; border-top: 1px solid black; margin-top:
      16px; margin-bottom: 16px;"></div>
    <p style="font-size: 0.9rem; font-weight: 600; margin-top: 8px;">Resumo dos
      valores</p>
    <mat-card-subtitle>Subtotal - <span style="color: #a1a1a1">{{cartSubTotalPrice
        | currency: "BRL"}}</span>
    </mat-card-subtitle>
    <mat-card-subtitle *ngIf="selectedAddress?.address">Frete - <span
        style="color:
        #a1a1a1">{{cartDeliveryPrice |
        currency: "BRL"}}</span>
    </mat-card-subtitle>
    <mat-card-subtitle>Total - <span style="color: #a1a1a1">{{cartTotalPrice |
        currency: "BRL"}}</span>
    </mat-card-subtitle>
  </mat-card-content>
</mat-card>
