.mat-card-spacing {
  padding: 4px;
}

.mat-card-title {
  margin: 16px;
}

.mat-card-content {
  width: 300px;
}

.mat-card-subtitle {
  font-size: 0.9rem;
  font-weight: 600;
  margin-top: 8px;
}

.mat-card-list-item {
  color: #a1a1a1;
}

.mat-card-divider {
  display: flex;
  flex: 1;
  border-top: 1px solid black;
  margin-top: 16px;
  margin-bottom: 16px;
}
