<div class="payment-container">
  <mat-card class="mat-card-container">
    <mat-card-title class="mat-card-title">Selecione a forma de pagamento</mat-card-title>
    <div *ngFor="let payment of payments" st>
      <mat-card class="mat-card-content">
        <div class="mat-card-content-div">
          <mat-card-title class="mat-card-content-title">{{payment.title}}</mat-card-title>
        </div>
        <mat-radio-button value="{{payment.id || selectedPayment.id}}"
          (change)="setPayment(payment)"></mat-radio-button>
      </mat-card>
    </div>
  </mat-card>
</div>