.payment-container {
  display: flex;
  flex: 1;
  width: 100%;
  justify-content: space-between;
}

.mat-card-container {
  padding: 24px;
  box-shadow: none;
  width: 100%;
}

.mat-card-title {
  margin-bottom: 24px;
}

.mat-card-content {
  flex-direction: row;
  align-items: center;
  margin-bottom: 16px;
  justify-content: space-between;
}

.mat-card-content-div {
  margin-right: 16px;
}

.mat-card-content-title {
  padding: 16px;
}
